body {
    color: #444;
}

h1 {
	margin-bottom: 0.5em;
}

a {
    color: #222;
    cursor: pointer;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.miweb-neos-nodetypes-quote {
	font-size: 1.5em;
	font-style: italic;
	margin-bottom: 1em;
	padding: 0 10%;
	text-align: center;
}
